.buildguides {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.left-section,
.right-section {
    flex: 1;
    text-align: center;
    width: 20px;
}

.middle-section {
    flex: 2;
    text-align: center;
}

.types-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.type {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.middle-column {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
